/*.box1{
    height:100px;
    width:100px;
    background-color:green;
    margin-bottom:10px;
    opacity:0.5;
}
.box2{
    height:100px;
    width:100px;
    background-color:green;
    opacity:1;
}
.box1:hover{
    opacity:1;
}*/
body{
    margin:0;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background:#161616;
    position:fixed;
    top:0;
    width:25%;
    height=100%
    float:left;
} 
/*li{
    float:left;
}*/
li a{
    display:block;
    color:white;
    padding: 10px 10px;
    text-decoration:none;
}
li a:hover:not(.active){
    background-color:#090808;
}
.active{
    background: darkgreen;
}
img{
    height: 450PX;
    width: 700px;
}
.main{
    margin-left:26%;
}
.li dropdown{
     display: inline-block;
}
.dropdown-content{
    color: #000;
    padding:10px 10px;
    display:block;
}
